name: Semantic PR
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  semantic-pr:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: get-scopes
        run: |
          echo "scopes<<EOF" >> $GITHUB_OUTPUT
          find lua/astrocommunity -mindepth 1 -maxdepth 2 -type d -exec basename {} \; >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          scopes: ${{ steps.get-scopes.outputs.scopes }}
          requireScope: true
          types: |
            ci
            docs
            feat
            fix
            perf
            refactor
          ignoreLabels: |
            autorelease: pending
